h2 {
  font-weight: bold
}
fieldset{
  width: 30%;
  float: left;
}
label {
  font-weight: bold;
}
input {}
li {
  padding-top: 2px;
  padding-bottom: 2px;
}
ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: : 0px;

}
