h2 {
  font-weight: bold
}
fieldset{
  margin-top: 0;
  margin-bottom: 0;
  width: 30%;
  float: left;
}
label {
  font-weight: bold;
}

li {
  padding-top: 2px;
  padding-bottom: 2px;
}
ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}
